@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
html
{
  font-size: 62.5%;
}
#bubbleSort
{
  font-size: 1.8rem;  
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 1.1rem;
  font-family: Georgia;
  font-size: 2.0rem;
  padding: 0.8rem;
  text-decoration: none;
}
#insertionSort
{
  font-size: 1.8rem;  
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 1.1rem;
  font-family: Georgia;
  font-size: 2.0rem;
  padding: 0.8rem;
  text-decoration: none;
}
#selectionSort
{
  font-size: 1.8rem;  
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 1.1rem;
  font-family: Georgia;
  font-size: 2.0rem;
  padding: 0.8rem;
  text-decoration: none;
}
#CanvaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
  font-size:1.5rem;
}
.sortButtonsBiggerDevices
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-heading {
    /* color:#FEE715FF; */
    background-color: #ADEFD1FF !important;
    color:#00203FFF;
    font-family: Loboster;
    text-align: center;
    font-weight: 600;
    font-size:3.8rem;
}
.BubbleSortHeading
{
    color:#b8df10;
    font-weight: solid;
    font-style: italic;
    text-decoration: underline;
    font-size:2.8rem;
}
.RandomEle
{
    text-align: center;
}
body
{
  background: #101820FF; 
background: -webkit-linear-gradient(to bottom, #121212, #000000);  
background: linear-gradient(to bottom, #121212, #000000);
}


.contact__input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 0.15rem solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  .contact__button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
  }
  .contact__img{
    border-radius: .5rem;
  }
  .HideSwaps{
    display: none;
  }
  .SwapsPara
  {
    font-family:"Roboto";
    font-style: italic;
    color:white;
    font-size:1.6rem;
    color:white;
  }
  .btn1 {
    background: #db671f;
    background-image: -webkit-linear-gradient(top, #db671f, #ff0303);
    background-image: -moz-linear-gradient(top, #db671f, #ff0303);
    background-image: -ms-linear-gradient(top, #db671f, #ff0303);
    background-image: -o-linear-gradient(top, #db671f, #ff0303);
    background-image: linear-gradient(to bottom, #db671f, #ff0303);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 1.1rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #bf0dbf;
    font-family: Georgia;
    color: #ffffff;
    font-size: 2.0rem;
    padding: 1.0rem;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #1d97e3;
    background-image: -webkit-linear-gradient(top, #1d97e3, #234cd1);
    background-image: -moz-linear-gradient(top, #1d97e3, #234cd1);
    background-image: -ms-linear-gradient(top, #1d97e3, #234cd1);
    background-image: -o-linear-gradient(top, #1d97e3, #234cd1);
    background-image: linear-gradient(to bottom, #1d97e3, #234cd1);
    text-decoration: none;
  }

  .btn2 {
    background: #26e330;
    background-image: -webkit-linear-gradient(top, #26e330, #20b33e);
    background-image: -moz-linear-gradient(top, #26e330, #20b33e);
    background-image: -ms-linear-gradient(top, #26e330, #20b33e);
    background-image: -o-linear-gradient(top, #26e330, #20b33e);
    background-image: linear-gradient(to bottom, #26e330, #20b33e);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 1.1rem;
    font-family: Georgia;
    color: #17041a;
    /* color:white; */
    font-size: 2.0rem;
    padding: 1.0rem 2.0rem 1.0rem 2.0rem;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #f01d63;
    background-image: -webkit-linear-gradient(top, #f01d63, #c23a63);
    background-image: -moz-linear-gradient(top, #f01d63, #c23a63);
    background-image: -ms-linear-gradient(top, #f01d63, #c23a63);
    background-image: -o-linear-gradient(top, #f01d63, #c23a63);
    background-image: linear-gradient(to bottom, #f01d63, #c23a63);
    text-decoration: none;
  }

  .btn_bubble {
    background: #3734d9;
    background-image: -webkit-linear-gradient(top, #3734d9, #2c79b8);
    background-image: -moz-linear-gradient(top, #3734d9, #2c79b8);
    background-image: -ms-linear-gradient(top, #3734d9, #2c79b8);
    background-image: -o-linear-gradient(top, #3734d9, #2c79b8);
    background-image: linear-gradient(to bottom, #3734d9, #2c79b8);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 1.4rem;
    font-family: Arial;
    color: #ffffff;
    font-size: 2.0rem;
    padding: 1.0rem 2.0rem 1.0rem 2.0rem;
    text-decoration: none;
  }
  
  .btn_bubble:hover {
    background: #3c96fc;
    background-image: -webkit-linear-gradient(top, #3c96fc, #34d1d9);
    background-image: -moz-linear-gradient(top, #3c96fc, #34d1d9);
    background-image: -ms-linear-gradient(top, #3c96fc, #34d1d9);
    background-image: -o-linear-gradient(top, #3c96fc, #34d1d9);
    background-image: linear-gradient(to bottom, #3c96fc, #34d1d9);
    text-decoration: none;
  }

  .btn_Insertion {
    background: #d934c8;
    background-image: -webkit-linear-gradient(top, #d934c8, #9f34d9);
    background-image: -moz-linear-gradient(top, #d934c8, #9f34d9);
    background-image: -ms-linear-gradient(top, #d934c8, #9f34d9);
    background-image: -o-linear-gradient(top, #d934c8, #9f34d9);
    background-image: linear-gradient(to bottom, #d934c8, #9f34d9);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 1.2rem;
    font-family: Arial;
    color: #ffffff;
    font-size: 2.0rem;
    padding: 1.0rem 2.0rem 1.0rem 2.0rem;
    text-decoration: none;
  }
  
  .btn_Insertion:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .Submitbtn_form {
    background: #34add9;
    background-image: -webkit-linear-gradient(top, #34add9, #772cb8);
    background-image: -moz-linear-gradient(top, #34add9, #772cb8);
    background-image: -ms-linear-gradient(top, #34add9, #772cb8);
    background-image: -o-linear-gradient(top, #34add9, #772cb8);
    background-image: linear-gradient(to bottom, #34add9, #772cb8);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 1.0rem;
    font-family: Georgia;
    color: #ffffff;
    font-size: 2.0rem;
    padding: 1.0rem 2.0rem 1.0rem 2.0rem;
    text-decoration: none;
  }
  
  .Submitbtn_form:hover {
    background: #3cfc3f;
    background-image: -webkit-linear-gradient(top, #3cfc3f, #34d976);
    background-image: -moz-linear-gradient(top, #3cfc3f, #34d976);
    background-image: -ms-linear-gradient(top, #3cfc3f, #34d976);
    background-image: -o-linear-gradient(top, #3cfc3f, #34d976);
    background-image: linear-gradient(to bottom, #3cfc3f, #34d976);
    text-decoration: none;
  }  


  /*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #e736c7;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.4rem; /* Centers thumb on the track */
  background-color: #ffdd00;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 0.3re solid #ffdd00;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #e736c7;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #ffdd00;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 0.3rem solid #ffdd00;
  outline-offset: 0.125rem;
}

.follow-us-section {
  background-color: white;
}

.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 2.8rem;
  font-weight: 700;
}

.follow-us-icon-container {
  background-color: #faf7e8;
  width: 6.0rem;
  height: 6.0rem;
  border-radius: 3.0rem;
  margin: 1.5rem;
  /* align-content: center; */
  padding-top: 1.8rem;
  padding-bottom: 1.4rem;
  padding-right: 1.6rem;
  padding-left: 1.8rem;
}
.icon
{
  font-size:1.7rem !important;
} 
.icon1{
  color: #d0b200;
  font-size: 2.5rem;
}
.footer-section {
  background-color: #0d2436;
}

.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 2.0rem;
}

.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 1.4rem;
}
/* overriding Bootstrap */
.section-title
{
  font-size: 2.8rem;
}
.contact_input
{
  font-size: 1.4rem;
  margin-top: 1.5rem ;
}
#fullname
{
  font-size: 1.3rem !important;
}
#email
{
  font-size: 1.3rem !important;
}
#Message
{
  font-size: 1.3rem !important;
}
/* media queries */
@media (max-width:1201px) {
  html{
    font-size: 62.5%;
  }  
}
@media (max-width:1025px) {
  html{
    font-size: 57.2%;
  }  
} 
@media (max-width:769px)
{
  html{
    font-size:52.5%;
  }
}
@media (max-width:481px)
{
  html{
    font-size:47.5%;
  }
  .sortButtonsBiggerDevices
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width:320px)
{
  html{
    font-size:42.5%;
  }
  .sortButtonsBiggerDevices
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}




